/*  --=================================GLOCIFY FRONT PAGE-(Index page)==============================------*/

*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;

}


header{
    background-image: linear-gradient(rgba(0, 0.5, 0.5, 0.6),rgba(0, 0, 0, 0.6)) ,url(../images/pic17.png);
    height: 120vh;
    background-size:cover ;
    background-position: center;
    
}

ul{
    float:right;
    list-style-type:none;
    margin-top: 50px;
    margin-left: 5px;
}

ul li{
    display:inline-block;
}
ul li a{
    text-decoration:double;
    color: #FF33F6 ;
    /* #000 ; */
    padding: 3px 25px;                     
    border: 1px solid #f1f1f1;
}

ul li a:hover{
    background-color: #FF33F6 ;
    /* rgb(212, 13, 13); */
    color: white;
    transition: 0.6s ease;
}
.logo img{
    float: left;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
    width: 100px;
}

.main{
    max-width: 1200px;
    margin: auto;
    
}
.title{
    position: absolute;
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    font-family: dancing script;
}

.title h1{
    color: #FF33F6 ;
    /* rgb(239, 245, 237); */
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}

/*-------============================== GLOCIFY INTRO 1 (SHOP WITH US===============------------------*/  
body{
    font-family: 'Montserrat', sans-serif;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    font-size: xx-large;
}

.col-2{ 
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-weight: bold;
    color: rgb(240, 104, 104);
}


/*===========================================GLOCIFY INTRO 2 (SELL ON GLOCIFY)==============================*/

.row-7{
    display: flex ;
    align-items:center ;
    flex-wrap: wrap;
    justify-content:space-around ;
   
    font-size: xx-large;
    background: radial-gradient(#fff,#ffd6d6);
}

.col-7{ 
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-7 img{
    max-width: 100%;
    padding: 50px 150px;
    
}

.col-7 h1{
    font-size: 50px;
    line-height: 40px;
    margin: 25px 0 ;
    color: rgb(134, 231, 7);

}


.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s ease;
}
.btn:hover{
    background: blue  ;
}
.head{
    background: radial-gradient(#fff, #ffd6d6);
}

/*----===========================================Categories ka section hai ye==============================-------*/

.categories{
    margin: 70px 0;

}

.col-3{
    flex-basis: 25%;
    min-width: 100px;
    margin-bottom: 30px;

}
.col-3 img{
    width:100% ;
}

.small-container{
    margin: auto;
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    size: 100;
    display: flex;
    flex-direction: column;
    justify-content:Center;
}

.col-4{
    flex-basis: 20%;
    /* padding: 50px; */
    min-width: 200px;
    margin-bottom: 50px;
    size: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    

}
.title-position{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;


}
.title-position::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);


}
.h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 30px;

}
.rating .fa{
    color: orangered;
}
.col-4:hover{
    transform: translateY(-10px);
}

/*---------------------======================FOOTER SECTION FOR ALL =======================-------*/


.container-foot{
    max-width: 1170px;
    margin:auto;
    background-color: rebeccapurple;
    
}
.row-foot{
    display: flex;
    
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: black;
    padding: 70px 0;
    display: inline-block;
    height: 60vh;
}
.footer-col{
width: 15%;
padding: 0 20px;
margin-left: 20px;
}

.footer-col img{
    width: 200%;
}
.footer-col h4{
    font-size: 18px;
    color: #bbbbbb;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position:absolute;
    left:50px;
    bottom: -10px;
    background-color: #000000;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #bbbbbb;
     display: block;
     text-decoration: none;
     color: #bbbbbb;
     display: block;
}

.row-foot-1{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    background-color: #000;
    

    
}
.col-7 p2{
color: #eff5f3;
margin-bottom: 10px;
margin-left: 2px;
}

/*================================Yaha PE GLOCIFY INDEX FINISH =================================*/
 

/*  =================== Ye New Header  ka area hai======================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
  }
  .navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    height: 20vh;
    background-color: #FAD0C9FF;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  
  nav ul{
    display:  inline-block;
    list-style-type: none; 
    
  }
  
  nav ul li{
    display: inline-block;
    margin-right: 8px;
  }
  a{
    text-decoration: none;
    color: #555;
  }
  p{
    color: #555;
    font-size: larger;
    
  }
  .container-head{
    max-width: 1300px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
  }



  /* ====================== LOGIN PAGE KI STYLING KA SECTION =======================*/

.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}
  .form-container{
    background: #fff;
    width: 300px;
    height: 450px;
    text-align: center;
    position:relative;
    padding: 15px 5px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);   
}

.form-container-login{
    background: #fff;
    width: 300px;
    height: 300px;
    text-align: center;
    position:relative;
    padding: 15px 5px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);   
    overflow: hidden;
}

.form-container span{
      font-weight: bold;
      padding: 0px 20px;
      color: black;
      cursor: pointer;
      width: 200px;
      display: inline-block;
      text-align: center;
      margin-bottom: 0 px;

}
.form-container-login span{
    font-weight: bold;
    padding: 0 10px;
    color: rgba(35, 38, 39, 0.534);
    cursor: pointer;
    width: 200px;
    height: 10px;
    display: inline-block;
    margin-bottom: 0 px;
    
    
}

.form-container-login span .psw {
    
    padding-top: 0 5px;
    display: block;
    float: center;
    text-align: center;
  }

  .form-container-login span .psw1 {
    padding-top: 1px 1px;
    display: block;
    float: center;
    text-align: center;
  }

  .form-container-login span.psw .a {
    text-align: center;
  }

  .form-container-login span.psw:hover{
    transform: translateY(-2px);
    transition-delay: 0.1s ease;
    color: #f30e0e;  
}

.form-container-login span.psw1:hover{
    transform: translateY(-2px);
    transition-delay: 0.1s ease;
    color: #f30e0e;  
}
.form-container span.psw1:hover{
    transform: translateY(-2px);
    transition-delay: 0.1s ease;
    color: #f30e0e;  
}
.form-container .form-btn span{
    margin-bottom: 2px;
    line-height: 5px;
}


  .form-btn{
      display: inline-block;
  }
  /* Ye form ka width aaur height ke liye hai */
  .form-container form{
      max-width: 300px;
      padding: 0 20px;
      position: absolute;
      top: 60px;
      transition: transform 0.5s;
  }
  .form-container-login form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 60px;
    transition: transform 0.5s;
}

  form input{
      width: 100%;
      height: 30px;
      margin: 8px 0;
      padding: 0 10px;
      border: 1px solid #ccc;
  }



  form .btn{
      width: 100%;
      border: none ;
      cursor: pointer;
      margin: 10px 0;
  }
  form .btn:focus{
      outline: none;
  }

form a{
    font-size: 12px;

}
#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(120px); 
    transition: transform 1s ;

}

.col-6{ 
    flex-basis: 50%;
    min-width: 100px;

}

.col-6 img{
    max-width: 70%;
    padding: 50px 50px;
    margin-left: 20px;
}

.col-6 h1{
    font-size: 30px;
    line-height: 60px;
    margin: 25px 0;

}



/*======================Testimonials section ==========================*/


.column-test {
    float: left;
    
    margin-bottom: 16px;
    padding: 0 8px;
    
    flex-basis: 25%;
    min-width: 100px;
    margin-bottom: 30px;
    
    }
    
  }
  .column-test img{
    width:100% ;
}
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column-test {
      width: 100%;
      display: block;
    }
  }
  

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .container-test {
    padding: 0 16px;
  }
  .container-test:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-10px);
  }
  
  /* Clear floats */
  .container-test::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container-test .h9{
     font-size: 10px;
  }

  .container-test .p9{
      font-size: 5px;
  }

  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

/*  ====================== User Rating section ==========================*/


  
.body-rate {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding: 20px;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 15px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  */
  /* The bar container */
  .bar-container-review {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #ff9800; }
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #04AA6D; }
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }



  /* ===================DISPLAY PRODUCTS============*/

.section-p1{
    padding: 40px 80px;
    
}

#product-display{
    text-align: center;
 
}
#product-display .display-container{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#product-display .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #06c723;
    /* use:- border-radius:25px for curvy borders */
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(12, 11, 11, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
    margin-right: 20px;
}
#product-display .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-10px);
}

#product-display .pro img{
    width: 100%;
    border-radius: 20px;
    
}
#product-display .pro .description span{
    color: #606063;
    font-size: 12px;
    text-align: left;
    
}
#product-display .pro .description{
    text-align: left;
}

#product-display .pro .description h5{
    padding-top: 7px;
    color: #1b4105;
    font-size: 16px;
}
#product-display .pro .description i{
    font-size: 12px;
    color: rgb(244, 181, 25);
    
}
#product-display .pro .description h7{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product-display .pro  .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #4ce966;
    font-weight: 500;
    color: #088178;
    bottom: 20px;
    right: 10px;
}


/* arrow slider*/
#product-display  .pre-btn, .nxt-btn{
    border: none;
    max-width: 50px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;

}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
    max-width: 40px;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
    max-width: 40px;
}